body 
{
  font-family: Helvetica;
  
}

#el_1
  {
    background-color: #222d30;
    color: white; 
    margin-top:50px ;
  }

  
button 
{
    background-color: red; 
    color: white; 
}  

#el_2 button 
{
    background-color: rgb(12, 10, 10); 
    color: white; 
}  

#el_2 img
{
  width:auto;
  height: 60px;
  margin: auto;
  display: block;
  
}

#el_2
{
  color: rgb(3, 5, 5);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.baw
{
  text-align: center;
  border:solid;
  border-radius: 10%;
  margin-left: 5px;
  margin-right: 5px;
  background-image:url('../assets/images/circuit!.jpg');
  background-size: cover;
}



.baw h2
{
  border-top: solid;
}

.baw p
{
  border-top: solid;
}


.skrr
{
  text-align: center;
  border:solid;
  border-radius: 10%;
  margin-left: 5px;
  margin-right: 5px;
  background-image:url('../assets/images/ile.avif');
  background-size: cover;
}

.skrr h2
{
  border-top: solid;
}

.skrr p
{
  border-top: solid;
}



.oui
{
  text-align: center;
  border:solid;
  border-radius: 10%;
  margin-left: 5px;
  margin-right: 5px;
  background-image:url('../assets/images/canne.webp');
  background-size: cover;
}

.oui h2
{
  border-top: solid;
}

.oui p
{
  border-top: solid;
}


#el_3
{
  color: rgb(5, 6, 6);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.non
{

  border:solid;
  border-radius: 5%;
  margin-left: 5%;
  margin-right: 5%;
  height: 100%;
}



.pq
{
  height: 100%;
}

.aligne_gauche
{
  margin-left: 1%;
}

#el_3 a 
{
    
    text-align: center;
 
}
#el_3 button{
  background-color: rgb(12, 10, 10); 
    color: white; 

  
}  






#el_4
{
  color: rgb(1, 9, 14);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}




.nos
{

  border:solid;
  border-radius: 5%;
  margin-left: 5%;
  margin-right: 5%;
  height: 100%;

 
}



.ademo
{
  height: 100%;
}

.aligne_droite
{
  margin-right: 1%;
}

#el_4 a 
{
    
    text-align: center;
 
}
#el_4 button{
  background-color: rgb(12, 10, 10); 
    color: white; 

  
}  


.el_5b
{
  border:solid;
  border-radius: 5%;
  margin-left: 5%;
  margin-right: 5%;
  height: 100%;
}
/* Aligner horizontalement les images */
.el_5b img {
  display: block; /* Pour résoudre les problèmes de marge blanche sous les images */
  margin: 0 auto; /* Centrer horizontalement l'image */
}

/* Afficher les images sous forme de cercles */
.el_5b img
{
  border-radius: 50%; /* Créer un effet de cercle */
}




.form-label {
  font-weight: bold; /* Met en gras le texte des étiquettes */
}

.form-control {
  border: 1px solid #ccc; /* Ajoute une bordure grise autour des champs de saisie */
  padding: 8px; /* Ajoute un peu de marge à l'intérieur des champs de saisie */
  margin-bottom: 10px; /* Ajoute un espace entre les champs de saisie */
}

